@import "Variables";

.App {
  height: 100%;
  position: relative;
  padding: $MARGIN_APP_BORDER;
  background: cornflowerblue;
  overflow: hidden;

  // Default fonts
  font-family: 'Helvetica Neue', 'Open-Reg', sans-serif;
  font-weight: 100;
  color: rgba(197, 239, 247, 0.8);
}