@import "Variables";

.Time {
  position: absolute;
  top: 0;
  right: 0;
  margin: $MARGIN_APP_BORDER ($MARGIN_APP_BORDER * 1.3);

  .hour-minute {
    font-size: $FONT_SIZE_HUGE;
    margin-bottom: 10px;
  }

  .day-and-date {
    text-align: right;
    line-height: 1.2;
  }
}